body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: #548b4a7f;
  color: white;
  padding: 5px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.nav-links a:hover {
  color: green;
}

.header {
  margin: auto;
  text-align: center;
  background: url('img/coffee-fields.jpg') no-repeat center center fixed;
  height: 100vh;
  width: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; 
  font-family: 'Oswald', sans-serif;
  position: relative;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
}

.column {
  flex: 1;
  text-align: center;
  margin-bottom: 200px;
}

.columnTwo {
  flex: 1;
  max-width: 500px;
}

.order {
  flex: 2;
}

h1 {
  font-size: 2em;
}

.coffee-bean:hover {
  background-color: rgba(0, 0, 0, 0.019);
  color: rgb(10, 116, 255);
  cursor: pointer;
}

.columns button {
  background-color: #c0996f;
  border-radius: 10px;
  color: white; 
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.hero {
  font-size: 4em;
  color: rgb(255, 255, 255);
}

.control {
  margin: auto;
  text-align: center;
  max-width: 550px;
  margin-bottom: 25px;
}



